<div class="overlay"></div>
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a [routerLink]="['/index.html']" class="logo-text"><span>MonolithSEO</span></a>
            </div><!-- Logo Box -->
            <div class="topmenu-outer">
                <div class="top-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                        </li>

                    </ul>
                    <notifications></notifications>

                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header">

            </div>
            <ul class="menu accordion-menu">
                <li class="active" (click)='isActive = true'><a class="waves-effect waves-button" style="cursor: pointer;"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                <li class="active" (click)='isActive = false'><a class="waves-effect waves-button" style="cursor: pointer;"><span class="menu-icon glyphicon glyphicon-cog"></span><p>Settings</p></a></li>
            </ul>
        </div><!-- Page Sidebar Inner -->
    </div><!-- Page Sidebar -->
    <stats *ngIf='isActive'></stats>
    <settings *ngIf='!isActive'></settings>
        
</main><!-- Page Content -->
<div class="cd-overlay"></div>
